.playFair__font {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
}
.playFair__font-sans{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
}
